<div class="sitebar">
    <ul class="sitebar__category">
        <li class="sitebar__category-item">
            All
        </li>
        <li class="sitebar__category-item">
            Tody
        </li>
        <li class="sitebar__category-item">
            Prinned
        </li>
        <li class="sitebar__category-item">
            Scheduled
        </li>
    </ul>

    <button class="sitebar__add">
        + Add
    </button>
</div>
