<div class="sitebar">
    <ul class="sitebar__category">
        <li class="sitebar__category-item">
            <a class="sitebar__category-link" href="/">
                <i class="fas fa-th-large sitebar__category-icon"></i>
                All
            </a>
        </li>
        <li class="sitebar__category-item">
            <a class="sitebar__category-link" href="">
                <i class="fas fa-calendar-alt sitebar__category-icon"></i>
                Today
            </a>
        </li>
        <li class="sitebar__category-item">
            <a class="sitebar__category-link " href="/">
                <i class="fas fa-marker sitebar__category-icon"></i>
                Prinned
            </a>
        </li>
        <li class="sitebar__category-item">
            <a class="sitebar__category-link" href="/">
                <i class="fas fa-clock sitebar__category-icon"></i>
                Scheduled
            </a>
        </li>
    </ul>



    <a class="sitebar__add" href="/">
        + Add
    </a>
</div>
