<%- include('./layouts/header') %>

<main class="home-page">
    <section class="banner">
        <div class="container">

        </div>
    </section>

    <section class="info">
        <div class="container">

        </div>
    </section>

    <section class="">
        <div class="container">

        </div>
    </section>

    <section class="">
        <div class="container">

        </div>
    </section>

    <section class="">
        <div class="container">

        </div>
    </section>
</main>



<%- include('./layouts/footer') %>
