<%- include('./layouts/header') %>

<main class="page">
    <section class="singup">
        <div class="container">
            <form action="/">
                <input type="text" name="login">
                <input type="text" name="first-name">
                <input type="text" name="patronymic">
                <input type="text" name="last-name">
                <input type="email" name="email">
                <input type="password" name="password">
                <input type="password" name="repassword">
                <input type="submit">
            </form>
        </div>
    </section>
</main>

<%- include('./layouts/footer') %>
