<%- include('./layouts/header') %>

<main class="page">
    <section class="singin">
        <div class="container">
            <form action="/">
                <input type="email">
                <input type="password">
                <input type="submit">
            </form>
        </div>
    </section>
</main>

<%- include('./layouts/footer') %>
